{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "curly": 0,
    "@typescript-eslint/brace-style": 0,
    "@typescript-eslint/comma-dangle": 0,
    "no-multiple-empty-lines": ["error", { "max":1 }],
    "max-statements-per-line": 0,
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "@typescript-eslint/consistent-type-definitions": 0
  }
}